aiohttp~=3.13.5
kurigram~=2.2.22
pillow~=12.2.0
psutil~=7.2.2
pymongo~=4.17.0
pytgcrypto~=1.2.12
py-tgcalls~=2.2.11
yt-search-python
python-dotenv~=1.2.2
yt-dlp[default] @ git+https://github.com/yt-dlp/yt-dlp.git
